@media (max-width: 960px) {
  nav {    
    position: static;
    left: auto;
    padding: 0;
    justify-content: flex-start;
    align-items: flex-end;
  }
  nav a {
    color: #8b8b8b;
  }
}

.post a {
  border-bottom: 1px solid var(--link-color);
}
.post a:hover {
  border-bottom: 1px dashed var(--link-color);
}
