---
layout: default
comments: true
---
<div id="toc" style="float: right;
                     margin-right: -12em;
                     margin-top: 2em;
                     width: 9em;">
  <div class="fix" style="position: fixed;">
    {% include toc.html html=content %}
  </div>
</div>
<link rel="stylesheet" href="/media/css/monokai.css">
<section class="meta">
  <span class="time">
    <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
  </span>
</section>
<section class="post">{{ content }}</section>
<section class="meta">
  {% if page.tags %}
  <span class="tag">
    Tag:{% for tag in page.tags %}<a href="/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>{% endfor %}
  </span>
  {% endif %}
  <span class="license">
    Published under <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh">(CC) BY-NC-SA</a>
  </span>
  <!--
  {% if page.categories %}
  <span class="categories">
    in categories
    {% for cat in page.categories %}
    <a href="/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>&nbsp;
    {% endfor %}
  </span>
  {% endif %}
  -->
</section>
<ul class="pager">
  <li class="next">
    {% if page.next %}
    <span>&#60;&#60; <a id="next" href="{{ page.next.url }}">{{ page.next.title }}</a></span>
    {% else %}
    <span>&#62;&#62;</span>
    {% endif %}
  </li>
  <small>&larr;j k&rarr;</small>
  <li class="previous">
    {% if page.previous %}
    <span><a id="previous" href="{{ page.previous.url }}">{{ page.previous.title }}</a> &#62;&#62;</span>
    {% else %}
    <span>&#60;&#60;</span>
  </li>
  {% endif %}
</ul>
{% include comments.md %}
<script defer src="/media/js/pages.js"></script>

